// _common.scss
// stores common properties used by all pages

*{
    padding: 0;
    margin: 0;    
}

.centralContainer{
    min-height: calc(100vh - 271px);
    height: auto;
    border-radius: 30px;
    background: white;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    background: $turquoise;
}

.wrapper{
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
}

h1{
    font-family: 'Josefin Slab', serif;
    font-size: 4rem;
    font-weight: 500;
}

h2,
h3{
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: black;
}