// _header.scss

.headerProps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
}

.headerH1Outer{
    text-align: left;
    width: 100%;
    h1{
        margin-top: 60px;
        margin-bottom: 0px;
        padding-left: 15px;
    }
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
    
    li{
        list-style-type: none;
        border-top-left-radius: 15px;
        border-top-right-radius: 5px;
        &:nth-of-type(1){
            background-color: $purple;
        }
        &:nth-of-type(2){
            background-color: $peach;
            margin-left: 10px;
        }
    }
    
    h2{
        font-family: 'Lato', sans-serif;
        font-weight: 200;
        padding: 10px 15px;
        display: block;
        transition: 0.6s all ease;  
        &:hover{
            cursor: pointer;
            font-size: 1.2rem;
        }
    }
}


