// _index.scss
// Stores all sass styling for /index 

.welcomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    h2,
    h3{
        width: 90%;
    }

    h2{
        font-size: 2rem;
        transition: 0.7s all ease;
        font-family: 'Josefin Slab', serif;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: center;
    }
    
    h3{
        color:gray;
        font-size:0.9rem;
        margin-top: 10px;
        max-width: 350px;
        text-align: center;
        font-weight: 400;
    }

    .noResults{
        background-color: #a07eb3;
        color: white;
        border-radius: 5px;
        padding: 16px;
        transition: 0.7s ease all;
        div{
            margin-top: 10px;
        }
    }

    .otherLanguages{
        margin-top: 30px;
        img{
            max-width: 300px;
            width: 100%;
        }
    }
}

