
// movieCard styling
.movieCard{
    opacity: 0.85;
    display: inline-block;
    margin: 10px;
    width: 270px;
    // height: 490px;
    
    // border: 1px solid $purple;
    background: lightgrey;
    border-radius: 7px;

    // border: 1px solid black;
    // border-bottom-right-radius: 7px;
    &:hover{
        opacity: 1;
        cursor: pointer;
    }

    img{
        width: 100%;
        border-radius: 7px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: block;
    }
}

// .movieCard:hover{

// }

// Formatting for the text within each movieCard
.movieCardText{
    padding: 7px 5px;
    min-height: 70px;
}