
// movieCard styling
.movieCard{
    opacity: 0.85;
    display: inline-block;
    margin: 5px;
    width: 200px;
    // border: 1px solid $purple;
    background: $turquoise;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    img{
        width: 100%;
    }
}

.movieCard:hover{
    opacity: 1;
    cursor: pointer;
}