// _movieSearchForm.scss
// formatting for the movie form search box

.movieSearchForm{
    display: flex;
    justify-content: center;

    .movieSearchBox{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    input,
    button{
        height: 40px;
        font-family: 'Lato', sans-serif;
        border-radius: 5px;
    }

    input{
        font-size: 1.4rem;
        padding: 5px;
        width: 75%;
        border: 1px solid $peach;
        border-left: 15px solid $peach;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: 0.7s ease all;
        
        &::placeholder{
            text-align: center;
            color: $peach;
        }

        &:focus{
            box-shadow: none;
            outline: none;
            border-left-width: 30px;
        }
    
        &:invalid{
            outline: $purple;
            box-shadow: none;
        }
    }

    button{
        padding: 10px 20px;
        font-size: 1rem;
        border: 1px solid $peach;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: $peach;
        transition: 0.7s ease all;
        &:hover{
        background: $turquoise;
        border: 1px solid $turquoise;
        cursor: pointer;
        }
    }
}

.autoComplete {
    background-color: white;
    border: 1px solid $peach;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 40px;
    left: 10px;
    list-style-type: none;
    
    li {
        display: block;
    }
    button {
        text-align: left;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.541);
        border: none;
        transition: none;
        &:focus,
        &:hover {
            outline: none;
            background-color: #fde8cf;
        }
    }

    .hiddenButton {
        display: none;
    }
}
