.allResultsInnerBox{
    width: 100%;
    padding: 20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    .eachPairBox{
        height: 250px;
        display:flex;
        flex-direction:column;
        border:2px solid red;
        h3{
            word-wrap:break-word;
        }
    }
}

.eachPairPosters{
    height:100%;
    display:flex;
    // justify-content:spa
    border:2px solid black;
    img{
            height:100%;
        }
}